.layout {
  // background-image: url("../../assets/img/background.svg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
